*.pyc
*.d
*.so
*.pcm
*~
*.root
core.*
__init__.py
*/compare
PicoProducer/config
PicoProducer/samples/files
PicoProducer/output
Plotter/plots
PicoProducer/output_ETauFR2/
PicoProducer/output_ETauFR3/
Plotter/plots_18_02_21/
Fitter/ETauFR/input/plots/