*.pyc
*.d
*.so
*.pcm
*~
*.root
core.*
__init__.py
*/compare
*.png
PicoProducer/config
PicoProducer/samples/files
PicoProducer/output
PicoProducer/output_2017ReReco18
PicoProducer/output_ETauFR
Plotter/plots
PicoProducer/output_ETauFR2/
PicoProducer/output_ETauFR3/
Plotter/plots_18_02_21/
Fitter/ETauFR/input
Fitter/ETauFR/coutFR_2016
Fitter/ETauFR/input/plots/2016/